In [48]:
import warnings
warnings.filterwarnings('ignore')

In [49]:
import pandas as pd
import numpy as np
import nltk
import string
import matplotlib.pyplot as plt
%matplotlib inline

In [50]:
df = pd.read_csv('spam_ham_dataset.csv')
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [51]:
#Checking for NaN entries
df.isna().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [52]:
df.duplicated().sort_values(ascending=False)

0       False
3474    False
3452    False
3451    False
3450    False
        ...
1722    False
1721    False
1720    False
1719    False
5170    False
Length: 5171, dtype: bool

The given dataset is clean and there is no need for Data Preprocessing

# Implementing the BOW Algorithm

In [53]:
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()
corpus = []

all_stop_words = set(stopwords.words('english'))
all_stop_words.remove('not')

for i in range (len(df)):
    text = df['text'][i].lower().translate(str.maketrans('','', string.punctuation)).split()
    text = [ps.stem(word) for word in text if word not in all_stop_words]
    text = ' '.join(text)
    corpus.append(text)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kanth\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [54]:
#Creating the BOW Model
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features= 42500)
X = cv.fit_transform(corpus).toarray()
y = df['label_num']

len(X[0])

42500

# Creating the Model

In [55]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [56]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

def model_score(y_true,y_pred):
    acc_scor = accuracy_score(y_true, y_pred)
    prec_scor = precision_score(y_true, y_pred)
    recall_scor = recall_score(y_true, y_pred)
    f1_scor = f1_score(y_true, y_pred)
    overall_avg_score = (acc_scor + prec_scor + recall_scor + f1_scor) / 4

    print(f'Model accuracy score: {acc_scor}')
    print(f'Model precision score: {prec_scor}')
    print(f'Model recall score: {recall_scor}')
    print(f'Model f1 score: {f1_scor}')
    print(f'Average overall score performance: {overall_avg_score}')

    print(confusion_matrix(y_true, y_pred))

# Random Forest Classifier

In [57]:
from sklearn.ensemble import RandomForestClassifier

cl_rf = RandomForestClassifier(n_estimators=100, random_state=42)
cl_rf.fit(X_train, y_train)
y_pred = cl_rf.predict(X_test)

In [58]:
#Model Performance

model_score(y_test,y_pred)

Model accuracy score: 0.9719806763285024
Model precision score: 0.9506578947368421
Model recall score: 0.9537953795379538
Model f1 score: 0.9522240527182867
Average overall score performance: 0.9571645008303963
[[717  15]
 [ 14 289]]